body{
 background-image: url("../images/background.jpg");
 background-repeat: no-repeat;
 background-position: center;
 margin-top: 90px;
}
.using-img{
  width: 200px;
  height: 200px;                            
}
a#renkli-link:hover{
  color: deeppink;
  background-color:bisque;
  text-decoration: none;
}
.gif{
                              margin-top: 100px;
  width: 500px;
  height: 300px; 
  margin-left: auto;
  margin-right: auto;
  display: block;                           
}
.using-float{
 margin-top: 300px;                             
}
.gif2{
  width: 300px;
  height: auto; 
  float:right;                           
}
.gif3{
    width: 300px;
    height: auto; 
    float:left;                           
}
.Image-maps{
  margin-top: 200px;                             
}
.table-headings{                            
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto; 
  font-style: italic;
  width: 30%; 
  text-align: center; 
  border: 2px solid darkorchid;
  border-radius: 5px;
  background-color:transparent; 
}
.nav{
  color: rgb(6, 191, 191); 
  font-style: italic;                            
}
.unordered-list{
  list-style: none;
  margin-bottom: 150px;
  padding: 0;
  overflow: 0;                          
}
li{
  float: left;                             
}
li a{
 display: block; 
 color:beige;
 text-align: center;
 padding: 16px;
 text-decoration: none; 
 background-color: blueviolet;                        
}
li a:hover{
 background-color:rgb(145, 54, 231);                             
}
.using-div{
 background-color: black;
 color: antiquewhite; 
 padding: 20px;                            
}
.using-div-h3{
  color:rgb(211, 10, 111);
  font-style: italic;                            
}
.id-heading{
  color: forestgreen; 
  font-style: italic;                            
}
.id-paragraph{
 color:rgb(8, 101, 8) ;                             
}
#firstSentence{
  color: rgb(111, 161, 36);                            
}
.button-change{
  color: rgb(4, 116, 4); 
  background-color: rgb(191, 216, 148); 
  border: 2px solid darkgreen;                           
}
.my-JavaScript{
  font-style: italic;
  color: chocolate;                             
}
.javaScript{
  color: coral;                            
}
.js-button{
  background-color: rgb(235, 172, 128);
  border: 3px solid rgb(212, 85, 39);                              
}
.js-demo{
  font-style: italic;
  color: darkorange;
  font-size: x-large;                            
}



